<section class="section-footer">
  <footer class="page-footer">
    <div class="footer-container">
      <p class="footer-text">© 2020 | All Rights Reserved |</p>
      <p class="footer-text">
        Developed with<span class="svg">
          <svg class="icon-heart" aria-label="icon-heart">
            <use href="./img/sprite.svg#icon-heart"></use></svg></span
        >by
        <button class="footer-btn">
          <a href="" class="footer-link">GoIT Students</a>
        </button>
      </p>
    </div>
  </footer>
</section>
