<section class="section-footer">
  <footer class="page-footer">
    <div class="footer-container">
      <p class="footer-text">© 2020 | All Rights Reserved |</p>
      <p class="footer-text">
        Developed with
        <span class="">
          <svg class="icon-heart" aria-label="heart">
            <use href="./img/sprite.svg#icon-heart"></use>
          </svg>
        </span>
        <span>by</span>
        <button class="footer-btn">GoIT Students</button>
      </p>
    </div>
  </footer>
</section>
