<header>
    
    <div>
        
<a href="">
    <svg class="film"  width="24" height="24" >
        <use href="./img/sprite.svg#icon-film"></use>
    </svg>
    <span>Flmoteka</span>
</a>
    </div>
    <div>
        <nav>
            <ul>
                <li><a href="">HOME</a></li>
                <li><a href="">MY LIBRARY</a></li>
            </ul>
        </nav>
    </div>
    <input type="text" placeholder="Film search">
    <button type="submit" class="search-btn">
        <svg class="search" width="12" height="12">
            <use href="./img/sprite.svg#icon-search">
        
            </use>
    </button>
    
    </svg>
</header>