<header class="header-library">
    <div class="container">
        <div class="header-menu">
            <a href="./index.html" class="site-logo">
                <svg class="film" width="24" height="24">
                    <use href="./img/sprite.svg#icon-film"></use>
                </svg>
                <span class="logo">Filmoteka</span>
            </a>

            <nav>
                <ul class="nav-list">
                    <li class="item"><a class="item-title " href="./index.html">HOME</a></li>
                    <li class="item"><a class="item-title current" href="./my-library.html">MY LIBRARY</a></li>
                </ul>
        </div>
        <div class="header-bottom">
            <ul class="button-list is-not-visible">
                <li class="button-item">
                    <button class="btn ">WATCHED</button>
                </li>
                <li class="button-item">
                    <button class="btn ">QUEUE</button>
                </li>
            </ul>
        </div>
    </div>
</header>