<header class="header-library">
    <div class="container">
        <div class="header-top">
            <a href="" class="logo">
                <svg class="film" width="24" height="24">
                    <use href="./img/sprite.svg#icon-film"></use>
                </svg>
                <span class="logo-txt">Filmoteka</span>
            </a>

            <nav>
                <ul class="nav-list">
                    <li class="nav-item"><a href="" class="nav-btn ">HOME</a></li>
                    <li class="nav-item"><a href="" class="nav-btn is-active-btn">MY LIBRARY</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-bottom">
            <ul class="button-list is-not-visible">
                <li class="button-item"><button class="btn accent libr-watched">WATCHED</button></li>
                <li class="button-item"><button class="btn primary-white libr-queue">QUEUE</button></li>
            </ul>
        </div>
    </div>
</header>