<div class="container  ">
        <!-- В этот список рендерить карточки фильмов -->
    <ul class="movie-list">
        <li class="movie-list-item">
            <div class="movie-item-link">
                <img class="movie-item-img" data-id='{{id}}' src="https://image.tmdb.org/t/p/original{{poster_path}}"
                    alt="{{title}}" />
                <h2 class="movie-item-title">{{title}} </h2>
                <p class="movie-item-info">
                    {{#each genres}}
                    <span>{{this.name}}</span>
                    {{/each}} | {{release_date}}
                    <span class="movie-item-rating"> {{vote_average}}</span>
                </p>
            </div>
        </li>
        <li class="movie-list-item">
            <div class="movie-item-link">
                <img class="movie-item-img" data-id='{{id}}' src="https://image.tmdb.org/t/p/original{{poster_path}}"
                    alt="{{title}}" />
                <h2 class="movie-item-title">{{title}} </h2>
                <p class="movie-item-info">
                    {{#each genres}}
                    <span>{{this.name}}</span>
                    {{/each}} | {{release_date}}
                    <span class="movie-item-rating"> {{vote_average}}</span>
                </p>
            </div>
        </li>
        <li class="movie-list-item">
            <div class="movie-item-link">
                <img class="movie-item-img" data-id='{{id}}' src="https://image.tmdb.org/t/p/original{{poster_path}}"
                    alt="{{title}}" />
                <h2 class="movie-item-title">{{title}} </h2>
                <p class="movie-item-info">
                    {{#each genres}}
                    <span>{{this.name}}</span>
                    {{/each}} | {{release_date}}
                    <span class="movie-item-rating"> {{vote_average}}</span>
                </p>
            </div>
        </li>
        <li class="movie-list-item">
            <div class="movie-item-link">
                <img class="movie-item-img" data-id='{{id}}' src="https://image.tmdb.org/t/p/original{{poster_path}}"
                    alt="{{title}}" />
                <h2 class="movie-item-title">{{title}} </h2>
                <p class="movie-item-info">
                    {{#each genres}}
                    <span>{{this.name}}</span>
                    {{/each}} | {{release_date}}
                    <span class="movie-item-rating"> {{vote_average}}</span>
                </p>
            </div>
        </li>
        <li class="movie-list-item">
            <div class="movie-item-link">
                <img class="movie-item-img" data-id='{{id}}' src="https://image.tmdb.org/t/p/original{{poster_path}}"
                    alt="{{title}}" />
                <h2 class="movie-item-title">{{title}} </h2>
                <p class="movie-item-info">
                    {{#each genres}}
                    <span>{{this.name}}</span>
                    {{/each}} | {{release_date}}
                    <span class="movie-item-rating"> {{vote_average}}</span>
                </p>
            </div>
        </li>
        <li class="movie-list-item">
            <div class="movie-item-link">
                <img class="movie-item-img" data-id='{{id}}' src="https://image.tmdb.org/t/p/original{{poster_path}}"
                    alt="{{title}}" />
                <h2 class="movie-item-title">{{title}} </h2>
                <p class="movie-item-info">
                    {{#each genres}}
                    <span>{{this.name}}</span>
                    {{/each}} | {{release_date}}
                    <span class="movie-item-rating"> {{vote_average}}</span>
                </p>
            </div>
        </li>
        <li class="movie-list-item">
            <div class="movie-item-link">
                <img class="movie-item-img" data-id='{{id}}' src="https://image.tmdb.org/t/p/original{{poster_path}}"
                    alt="{{title}}" />
                <h2 class="movie-item-title">{{title}} </h2>
                <p class="movie-item-info">
                    {{#each genres}}
                    <span>{{this.name}}</span>
                    {{/each}} | {{release_date}}
                    <span class="movie-item-rating"> {{vote_average}}</span>
                </p>
            </div>
        </li>
        <li class="movie-list-item">
            <div class="movie-item-link">
                <img class="movie-item-img" data-id='{{id}}' src="https://image.tmdb.org/t/p/original{{poster_path}}"
                    alt="{{title}}" />
                <h2 class="movie-item-title">{{title}} </h2>
                <p class="movie-item-info">
                    {{#each genres}}
                    <span>{{this.name}}</span>
                    {{/each}} | {{release_date}}
                    <span class="movie-item-rating"> {{vote_average}}</span>
                </p>
            </div>
        </li>
        <li class="movie-list-item">
            <div class="movie-item-link">
                <img class="movie-item-img" data-id='{{id}}' src="https://image.tmdb.org/t/p/original{{poster_path}}"
                    alt="{{title}}" />
                <h2 class="movie-item-title">{{title}} </h2>
                <p class="movie-item-info">
                    {{#each genres}}
                    <span>{{this.name}}</span>
                    {{/each}} | {{release_date}}
                    <span class="movie-item-rating"> {{vote_average}}</span>
                </p>
            </div>
        </li>
    </ul>
        <!-- Рендерить пагинацию      -->
    <div class="pagination"></div>
</div>