<div class="button-navigation">
  <button class="pagination-side">
    <svg class="icon-arrow" aria-label="arrow-left">
      <use href="./img/sprite-defs.svg#icon-arrow-r"></use>
    </svg>
  </button>
  <button class="pagination"></button>
  <button class="pagination-curent"></button>
  <button class="pagination"></button>
  <button class="pagination-side">
    <svg class="icon-arrow" aria-label="arrow-right">
      <use href="./img/sprite-defs.svg#icon-arrow-left1"></use>
    </svg>
  </button>
</div>
