<div class="button-navigation">
  <button class="pagination-side" data-action="left">
    <svg class="icon-arrow" aria-label="arrow-left">
      <use href="./img/sprite-defs.svg#icon-arrow-r"></use>
    </svg>
  </button>
  <button class="pagination" data-action="previous"></button>
  <button class="pagination-current" data-action="current"></button>
  <button class="pagination" data-action="next"></button>
  <button class="pagination-side" data-action="right">
    <svg class="icon-arrow" aria-label="arrow-right">
      <use
        href="./img/sprite-defs.svg#icon-arrow-left"
        data-action="btn-right"
      ></use>
    </svg>
  </button>
</div>
