.movie-item-img {
  width: 280px;
  height: 398px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.movie-item-title {
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
}
.movie-item-info {
  font-size: 12px;
  line-height: 1.33;
  color: orangered;
}
@media screen and (min-width: 768px) {
  .movie-item-img {
    width: 294px;
  }
}
@media screen and (min-width: 1024px) {
  .movie-item-img {
    width: 274px;
  }
}
