.movie-item-img {
  width: 280px;
  height: 398px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.movie-item-title {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
}
.movie-item-info {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: orangered;
}
.movie-item-info span:nth-last-child(n+3):after{
  content: ','
}
.movie-item-rating {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  color: #ffffff;
  background-color: orangered;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .movie-item-img {
    width: 294px;
  }
}
@media screen and (min-width: 1024px) {
  .movie-item-img {
    width: 274px;
  }

  .movie-item-title {
    width: 274px;
  }
}

