#goToTop {
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  padding: 8px 8px;
  box-sizing: content-box;
  background-color: #999999;
  font-size: 16px;
  color: #999999;
  mix-blend-mode: difference;
  z-index: 999;
  display: none;
}

.goToTopdisplay {
  animation: showGoToTop 0.4s ease-in 1;
}

.goToTophide {
  animation: showGoToTop 0.4s ease-in 1 reverse;
}

@keyframes showGoToTop {
  0% {
    transform: translateY(80px);
  }
  100% {
    transform: translateY(0px);
  }
}

.arrow-up {
  display: block;
  fill: #050505;
  width: 10px;
  height: 10px;
}
