.team-title {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
}

.team-list {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.2;
  list-style: none;
  color: #ff6b08;
}
