.header {
  min-height: 230px;
  background-color: rgb(204, 157, 157);
  /* background: rgba(0, 0, 0, 0.56); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../img/header/header.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../img/header/header-tablet.jpg');
  }
}

@media screen and (min-width: 1024px) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../img/header/header-desktop.jpg');
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-left: 22px;
    padding-right: 22px;
    margin: 0 auto;
    max-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-right: 76px;
    padding-left: 76px;
  }
}

.header-menu {
  padding-top: 48px;
  padding-bottom: 45px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo {
  display: none;
}

@media screen and (min-width: 768px) {
  .logo {
    display: block;
    margin-left: 12px;
    color: #ffffff;
    font-size: 30px;
  }
  .site-logo {
    display: flex;
    align-items: baseline;
  }
}

.nav-list {
  display: flex;
}
.item {
  position: relative;
}

.item-title {
  color: #ffffff;
}
.current::before {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ff6b08;
  bottom: 0;
}

.nav-list .item + .item {
  margin-left: 40px;
}

.header-search {
  text-align: center;
  position: relative;
}

@media screen and (min-width: 768px) {
  .header-search {
    width: 336px;
    margin-left: auto;
    margin-right: auto;
  }
}
.error-js {
  display: block;
  color: red;
  font-size: 14px;
}
.hide {
  display: none;
}
.input {
  font-size: 14px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  padding-bottom: 4px;
  margin-bottom: 97px;
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  margin-bottom: 22px;
  border-bottom: 0.5px solid #ffffff;
}
@media screen and (min-width: 768px) {
  .input {
    width: 336px;
  }
}

::placeholder {
  color: #ffffff;
}

@media screen and (max-width: 767px) {
}
.search-btn {
  position: absolute;
  top: 0px;
  right: 5px;
  background: transparent;
  border: none;
  fill: #ffffff;
  outline: none;
}
