.header-library {
  min-height: 230px;
  background-color: rgb(157, 181, 204);
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../img/Watched-320.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .header-library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../img/Watched-768.jpg');
  }
}

@media screen and (min-width: 1024px) {
  .header-library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../img/Watched-1024.jpg');
  }
}
.header-menu {
  padding-top: 48px;
  padding-bottom: 45px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.button-list {
  display: flex;
  justify-content: center;
}
.btn {
  background-color: transparent;
  color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  outline: none;
  padding: 14px 12px;
  min-width: 130px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
@media screen and (min-width: 768px) {
  .btn {
    min-width: 136px;
  }
}
.button-item:not(:last-child) {
  margin-right: 20px;
}
.btn:hover {
  color: #212529;
  text-decoration: none;
}
.btn.accent {
  background-color: #ff6b01;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn.primary-white {
  border: 1px solid white;
  transition: all 0.3s ease-in;
}
.btn.primary-white:focus,
.btn.primary-white:hover {
  border: 1px solid #ff6b01;
  color: #ff6b01;
}
